.install-box {
    width: 90%;
    margin: 15vh auto 0 auto;
}

.header {
    color: #fff;
    padding: 0.5rem 1rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.header-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.header-title-text {
    flex: 1;
    justify-content: flex-start;
    text-align: left;
}

.header-title-version {
    flex: 1;
    justify-content: flex-end;
    text-align: right;
    font-size: 1rem;
}

.install-content {
    background-color: #fff;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-color: #ccc;
    border-style: solid;
    border-top: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 1rem;
}

.agreement {
    border: 1px solid #bdbcbc;
    border-radius: 3px;
    padding: 0.5rem;
    background-color: #f5f5f5;
}

@media (min-width: 576px) {
    .install-box {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .install-box {
        width: 50%;
    }
}

.install-check-table td{
    border-top:0;
    padding: 0.25rem;
    font-size: 0.5rem;
}
.install-table-header{
    font-weight: 700;
}

.install-form .col-form-label{
    font-size: 0.5rem;
}